
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Upload a song.</title>
		<meta name="description" content="Upload songs.">
		<meta name="author" content="rayamajs">
		<link href="style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<div class="form">
		<form action="/upload" enctype="multipart/form-data" method="post">
			<p>Upload Song<br /><input type="file" name="song"></p>
			<p>Song Title:<br /><input type="text" name="title" placeholder="Enter Title" value="" autofocus></p>
			
			<p><input type="submit" value="upload"></p>
		</form>
		<form action="/play" enctype="multipart/form-data" method="post">
			<p>Song Title:<br /><input type="text" name="title" placeholder="Enter Song name to play" value="" autofocus></p>
			<p><input type="submit" value="play"></p>
		</form>
		<p><a href="/logout">log out</a></p>
		</div>
	</body>
</html>


