
<!DOCTYPE html>
<html>
<head>
	<title>My Favourite Songs</title>

	
	<link href="style.css" type="text/css" rel="stylesheet" />
</head>
<body>
	
	<table style="width: 100%;">
	
		<ol>
		{{#each songs}}
		<li></liclass><a href={{this.location}}>{{this.title}}</a></li>
		<input type="submit" value="Play">

		<p><a href="/meta">meta</a></p>
		{{/each}}
		</ol>
		
	</table>
	
	
	<p><a href="/upload">upload</a></p>
</body>
</html>
