
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="form to log in">
		<meta name="author" content="rayamajs">
		<link href="style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<div class="form">
		{{#if msg}}
 			<p class="msg">{{msg}}</p>
		{{/if}}
	 	
		<form action="/login" method="post">
			<p>Username:<br /><input type="text" name="user" placeholder="Username" value="{{user}}" autofocus></p>
			<p>Password:<br /><input type="password" name="pass" placeholder="Password" value=""></p>
			<p><input type="submit" value="Log in"></p>
			<p><a href="/register">Register</a></p>
		</form>
	</body>
	</div>
</html>
