
<!DOCTYPE html>
<html>
<head>
	<title>My Favourite Songs</title>

	
	<link href="style.css" type="text/css" rel="stylesheet" />
</head>
<body>
	
	<h1>{{name}} {{things}} {{city}}</h1>
	
	
	<p><a href="/upload">upload</a></p>
</body>
</html>
