<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Pictures</title>
	<meta name="description" content="upload music">
		<meta name="author" content="rayamajs">
		<link href="style.css" type="text/css" rel="stylesheet" />
</head>
<body>
	<div class="form">
    <h1>Save new pictures</h1>
    <form id="uploadImage" enctype="multipart/form-data" method="POST" action="#">
        Image to be uploaded:
        <br>
        <input type="file" id="fileUpload" name="fileUpload">
        <br><br>
        <input type="submit" value="Upload" id="submit">
    </form>
    <h1>Saved pictures</h1>
	
	</div>

    
</body>
</html>