
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Upload a song.</title>
		<meta name="description" content="Upload songs.">
		<meta name="author" content="rayamajs">
		<link href="style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<div class="form">
		<form action="/uploadSong" enctype="multipart/form-data" method="post">
			<p>Upload Song<br /><input type="file" id="songUpload" name="song"></p>
			<p>Save as:<br /><input type="text" name="filename" placeholder="Enter File Name" value="" autofocus></p>
			<p><input type="submit" value="upload"></p>
		</form>

	    <h1>{{this.title}}</h1>
		</div>
	</body>
</html>

